

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-image: linear-gradient(120deg, #d2b0d6 0%, #f5576c 100%);
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
  }
    .form{
        
        background: url(../images/Lucia.jpg) no-repeat 0px 0px;
        width: 90%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
    }

    .form_imput{
        font-family: inherit;
        font-size: 1rem;
        padding: .8em 1em;
        outline: none;
        border: none;
        border: 1px solid #bbb0b0;
        border-radius: 0.2em;
    }
    .form_imput-message{
        resize: none;
        padding: 1.8em 1em;
        margin-bottom: 0.5em;
    }
    .form_cta{
        font-family: inherit;
        font-size: 1rem;
        background-color: #089fe0;
        color: #fff;
        border: none;
        font-style: 300;
        padding: .7em 0;
        border-radius: .2em;
        cursor: pointer;
    }
    .form_container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
        color: #fff
    }
    .form_title{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 4em;
    }

    @media( max-width:450px){
        .form{
            padding: 3.5em 1em;
        }
    }
    .btn_regreso{
        display: inline-block;
        font-family: inherit;
        color: #fff;
        background-color: #089fe0;
        font-style: 300;
        padding: .7em 0;
        border-radius: .2em;
        cursor: pointer;
        text-decoration: none;
        margin-top: 0.5em;
    }
    .btn_regreso:hover{
        background-color: rgb(22, 245, 40);
    }
    .form_cta:hover{
        background-color: rgb(22, 245, 40);
    }
    .form_cta_limp{
        font-family: inherit;
        font-size: 1rem;
        background-color: #92acc2;
        color: #fff;
        border: none;
        font-style: 300;
        padding: .7em 0;
        border-radius: .2em;
        cursor: pointer;
    }
    .form_cta_limp:hover{
        background-color: rgb(22, 245, 40);
    }