/* html,
body
  height 100%
  min-height 100%
  margin 0
  padding 0
*/
.cajitas {
    text-align: center;
    height: 100%;
    margin: 0 auto;
  }
  .cajitas::before {
    content: "";
    display:inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .iconito {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    height: 90px;
    width: 90px;
    margin-right: 2px;
    color: #4099ff;
    border-radius: 100%;
    position: relative;
  }
  .iconito::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    background: #fff;
    z-index: -1;
  }
  .iconito::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background: #4099ff;
    border-radius: 100%;
    z-index: -1;
  }/*
  .iconito:hover {
    animation-name: bubble2;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }*/
  /*.iconito:hover::after {
    animation-name: bubble;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }*/
  .icon-twitter {
    color: #4099ff;
  }
  .icon-twitter::after {
    background: #4099ff;
  }
  .icon-facebook {
    color: #3b5998;
  }
  .icon-facebook::after {
    background: #3b5998;
  }
  .icon-github-alt {
    color: #000;
  }
  .icon-github-alt::after {
    background: #000;
  }
  .icon-gplus {
    color: #dc4e41;
  }
  .icon-gplus::after {
    background: #dc4e41;
  }
  .icon-sitemap {
    color: #dc4e41;
  }
  .icon-sitemap::after {
    background: #dc4e41;
  }
  .icon-rss {
    color: #ef7f1a;
  }
  .icon-rss::after {
    background: #ef7f1a;
  }
  .icon-wrapper-editor {
      display:none;
  }
 /* .icon-wrapper:hover > .text-wrapper {
      font-weight:bold;
      -webkit-transform: translate(0, -42px);
      -moz-transform: translate(0, -42px);
      -ms-transform: translate(0, -42px);
      -o-transform: translate(0, -42px);
      transform: translate(0, -42px);
  }
  */
  @-moz-keyframes bubble {
    100% {
      transform: scale(1);
    }
  }
  @-webkit-keyframes bubble {
    100% {
      transform: scale(1);
    }
  }
  @-o-keyframes bubble {
    100% {
      transform: scale(1);
    }
  }
  @keyframes bubble {
    100% {
      transform: scale(1);
    }
  }
  @-moz-keyframes bubble2 {
    100% {
      color: #fff;
    }
  }
  @-webkit-keyframes bubble2 {
    100% {
      color: #fff;
    }
  }
  @-o-keyframes bubble2 {
    100% {
      color: #fff;
    }
  }
  @keyframes bubble2 {
    100% {
      color: #fff;
    }
  }